Repository The-Standard-Organization/STX.REST.RESTFulSense.Clients, pull requests merged in 2024-04, with the labels that each got.

#18 BROKERS: IHttpBroker Get Add
  STX.REST.RESTFulSense.Clients/Brokers/Https/HttpBroker.Get.cs
  STX.REST.RESTFulSense.Clients/Brokers/Https/HttpBroker.cs
  STX.REST.RESTFulSense.Clients/Brokers/Https/IHttpBroker.Get.cs
  STX.REST.RESTFulSense.Clients/Brokers/Https/IHttpBroker.cs
Labels: BROKERS

#20 CODE RUB: Brokers HttpBroker.Get Cleanup
  STX.REST.RESTFulSense.Clients/Brokers/Https/HttpBroker.Get.cs
Labels: CODE RUB

#19 Foundations: ErrorMapper Service - RetrieveStatusDetailByStatusCodeAsync
  STX.REST.RESTFulSense.Clients.Tests.Unit/STX.REST.RESTFulSense.Clients.Tests.Unit.csproj
  STX.REST.RESTFulSense.Clients.Tests.Unit/Services/Foundations/ErrorMappers/ErrorMapperServiceTests.Logic.Retrieve.cs
  STX.REST.RESTFulSense.Clients.Tests.Unit/Services/Foundations/ErrorMappers/ErrorMapperServiceTests.Validations.Retrieve.cs
  STX.REST.RESTFulSense.Clients.Tests.Unit/Services/Foundations/ErrorMappers/ErrorMapperServiceTests.cs
  STX.REST.RESTFulSense.Clients/Brokers/Errors/ErrorBroker.StatusDetails.cs
  STX.REST.RESTFulSense.Clients/Brokers/Errors/ErrorBroker.cs
  STX.REST.RESTFulSense.Clients/Brokers/Errors/IErrorBroker.cs
  STX.REST.RESTFulSense.Clients/Models/ErrorMappers/Exceptions/ErrorMapperValidationException.cs
  STX.REST.RESTFulSense.Clients/Models/ErrorMappers/Exceptions/InvalidErrorMapperException.cs
  STX.REST.RESTFulSense.Clients/Models/ErrorMappers/Exceptions/NotFoundErrorMapperException.cs
  STX.REST.RESTFulSense.Clients/Models/Errors/StatusDetail.cs
  STX.REST.RESTFulSense.Clients/STX.REST.RESTFulSense.Clients.csproj
  STX.REST.RESTFulSense.Clients/Services/Foundations/ErrorMappers/ErrorMapperService.Exceptions.cs
  STX.REST.RESTFulSense.Clients/Services/Foundations/ErrorMappers/ErrorMapperService.Validations.cs
  STX.REST.RESTFulSense.Clients/Services/Foundations/ErrorMappers/ErrorMapperService.cs
  STX.REST.RESTFulSense.Clients/Services/Foundations/ErrorMappers/IErrorMapperService.cs
Labels: FOUNDATIONS
